<!DOCTYPE html>
<html>
<head lang="en">
    <title>Karate Boot</title>
   <th:block th:include="fragments/headerinc :: head"></th:block>
</head>
<body>
<div class="container">
    <th:block th:include="fragments/homelayout :: header"></th:block>
    <div class="col-lg-10" th:if="${not #lists.isEmpty(statements)}">
        <table class="table table-striped" id="balanceShow">
            <thead>
		<tr>
                    <th>Club Name</th>
                    <th>Outstanding Balance</th>
		</tr>
            </thead>
            <tbody>
    	<tr th:each = "statement : ${statements}">
            <td th:text="${statement.club.name}"></td>
            <td th:text="${statement.balance}"></td>
    	</tr>
            </tbody>
    </table>
        <h4>Balances as at: <span th:text="${#dates.format(date, 'dd-MMM-yyyy HH:mm')}" style="color: grey"></span></h4>
    </div>
</div>
    <th:block th:include="fragments/headerinc :: scripts"></th:block>
    <script type="text/javascript">
        $(function () {
            $("#balanceShow").dataTable();
        })
        </script>
</body>
</html>
