<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head lang="en">
    <title>Karate Boot</title>
   <th:block th:include="fragments/headerinc :: head"></th:block>
</head>

<body>
<div class="container">
    <div th:fragment="header">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#" th:href="@{/}">Home</a>
                    <ul class="nav navbar-nav">
                        <li><a href="#" th:href="@{/app/login}">Login</a></li>
                        <li><a href="#" th:href="@{/app/register}">Register</a></li>
                    </ul>

                </div>
            </div>
        </nav>

        <!--div class="jumbotron"-->
        <fieldset>
            <div class="row text-center">
                <div class="">
                    <h2>Karate Boot Application</h2>
                    <h3>1.0.0</h3>
                </div>
            </div>
            <div class="row text-center">
                <img src="../../static/images/boot.png" width="200" th:src="@{/images/boot.png}"/>
            </div>
            </fieldset>
        <!--/div-->

    </div>
</div>
</body>
</html>
