<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head lang="en">
    <title>Karate Boot</title>
   <th:block th:include="fragments/headerinc :: head"></th:block>
</head>

<body>
<div class="container">
    <div th:fragment="header">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#" th:href="@{/app/secure/user-home}">Home</a>
                    <ul class="nav navbar-nav">
                        <li><a href="#" th:href="@{/app/secure/events}">Events</a></li>
                        <li><a href="#" th:href="@{/app/secure/blog}">Blog</a></li>
                        <li><a href="#" th:href="@{/app/secure/clubs}">Clubs</a></li>
                        <!--div sec:authorize="hasRole('ROLE_ADMIN')"-->
                        <li><a href="#" th:href="@{/app/secure/affiliations}">Affiliation</a></li>
                        <li><a th:href="@{/app/logout}"><span style="color: royalblue">LOG-OUT</span></a></li>
                        <!--/div-->
                    </ul>

                </div>
            </div>
        </nav>
    </div>
</div>
</body>
</html>
