<!DOCTYPE html>
<html>
<head lang="en">
    <title>Karate Boot</title>
   <th:block th:include="fragments/headerinc :: head"></th:block>
</head>
<body>

<div class="container">
    <th:block th:include="fragments/header :: header"></th:block>
    <div class='row'>
        <div class='col-lg-4'><h3 class='gray'>Pictures</h3></div>
        <div class='col-lg-4'><h3 class='gray'>Videos</h3></div>
        <div class='col-lg-4'><h3 class='gray'>Miscellaneous</h3></div>
        </div>
</div>
</body>
</html>
