<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <title>Karate Boot</title>
   <th:block th:include="fragments/headerinc :: head"></th:block>
</head>
<body>
    <div id="wrapper">
    <th:block th:include="fragments/headerinc :: sidebar"></th:block>
    <div id="page-wrapper" class="gray-bg dashbard-1">
        <th:block th:include="fragments/headerinc :: header"></th:block>
        <div class="row">
            <div class="col-lg-12">
                <h2>Club Details</h2>
                    <div class="col-lg-6">
        <form class="form-horizontal" th:object="${club}" th:action="@{/app/secure/club/}" method="post">
            <input type="hidden" th:field="*{id}"/>
            <input type="hidden" th:field="*{version}"/>
            <div class="form-group">
                <label th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="validation-message error"></label>
                <label class="col-sm-2 control-label">Name:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" th:field="*{name}" placeholder="e.g. Taikan"/>
                </div>
            </div>
            <div class="form-group">
                <label th:if="${#fields.hasErrors('location')}" th:errors="*{location}" class="validation-message error"></label>
                <label class="col-sm-2 control-label">Location:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" th:field="*{location}" placeholder="e.g. Nairobi"/>
                </div>
            </div>
            <div class="form-group">
                <label th:if="${#fields.hasErrors('style')}" th:errors="*{style}" class="validation-message error"></label>
                <label class="col-sm-2 control-label">Style:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" th:field="*{style}" placeholder="e.g Shotokan"/>
                </div>
            </div>
            <div class="form-group">
                <label th:if="${#fields.hasErrors('county')}" th:errors="*{county}" class="validation-message error"></label>
                <label class="col-sm-2 control-label">County:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" th:field="*{county}" placeholder="e.g. Nairobi"/>
                </div>
            </div>
            <div class="form-group">
                <label th:if="${#fields.hasErrors('nearestTown')}" th:errors="*{nearestTown}" class="validation-message error"></label>
                <label class="col-sm-2 control-label">Nearest Town:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" th:field="*{nearestTown}" placeholder="e.g. Juja"/>
                </div>
            </div>
            <div class="row">
                <button type="submit" class="btn btn-default">Submit</button>
            </div>
        </form>
    </div>
                </div>
        </div>   
        <th:block th:include="fragments/headerinc :: footer"></th:block>
    </div>
    </div>
    <th:block th:include="fragments/headerinc :: scripts"></th:block>
</body>
</html>