<!DOCTYPE html>
<html>
<head lang="en">
    <title>Karate Boot</title>
   <th:block th:include="fragments/headerinc :: head"></th:block>
</head>
<body>
<div class="container">
    <th:block th:include="fragments/homelayout :: header"></th:block>
    <div class="col-lg-10" th:if="${not #lists.isEmpty(clubs)}">
        <table class="table table-striped" id="clubs">
            <thead>
		<tr>
		    <th>Name</th>
		    <th>Location</th>
                    <th></th>
                    <th></th>
                    <th></th>
		</tr>
            </thead>
            <tbody>
    	<tr th:each = "club : ${clubs}">
            <td th:text="${club.name}"></td>
            <td th:text="${club.location}"></td>
            <td><a th:href="${'/app/secure/club/' + club.id}">More Info</a></td>
            <td>
                <div sec:authorize="hasRole('ROLE_ADMIN')">
                    <a th:href="${'/app/secure/club/edit/' + club.id}">Edit Club</a>
                </div>
                </td>
            <td>
                <div sec:authorize="hasRole('ROLE_ADMIN')">
                    <a th:href="${'/app/secure/club/confirmdelete/' + club.id}">Delete</a>
                </div>
            </td>
    	</tr>
        </tbody>
    </table>
        <div sec:authorize="hasRole('ROLE_ADMIN')">
            <a href="/app/secure/club/new" class="btn btn-success">Add Club</a>
        </div>
    </div>
</div>
    <th:block th:include="fragments/headerinc :: scripts"></th:block>
    <script type="text/javascript">
        $(function () {
            $("#clubs").dataTable();
        })
        </script>
</body>
</html>
